@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #232222;
  overflow-x: hidden;
}

.base-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: -1;
}

/* .red-waves,
.yellow-waves,
.green-waves {
  position: absolute;
  width: 100%;
  height: 30vh;
  z-index: -1;
} */

.waves-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; */
  /* gap: 200vh; */
}

/* .red-waves-container,
.yellow-waves-container,
.green-waves-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

h1 {
  font-family: 'Alegreya', serif;
}

div.swiper-button-prev {
  color: rgb(145, 161, 169);
}

div.swiper-button-next {
  color: rgb(145, 161, 169);
}

@media only screen and (max-width: 480px){
	div.swiper-button-prev {
    display: none;
  }
  
  div.swiper-button-next {
    display: none;
  }
}

span.swiper-pagination-bullet-active {
  background: rgb(145, 161, 169);
}

img.resourceImg {
  object-fit: cover;
}

.highlight-trust {
  position: relative;
}

.highlight-trust::before {
  content: "";
  width: 7rem;
  height: 1.5rem;
  background-color: #B34A22;
  position: absolute;
  transform: translate(-15rem, -0.5rem);
  z-index: -1;
  bottom: 0;
  left: 0;
}

.highlight-family {
  position: relative;
}

.highlight-family::before {
  content: "";
  width: 8.75rem;
  height: 1.5rem;
  background-color: #B34A22;
  position: absolute;
  transform: translate(-14.5rem, -0.5rem);
  z-index: -1;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  .highlight-trust::before {
    width: 10rem;
    height: 2.5rem;
    transform: translate(-25rem, -0.5rem);
  }

  .highlight-family::before {
    transform: translate(-19.5rem, -0.5rem);
    width: 13rem;
    height: 2.5rem;
  }
}